.nav-link {
    font-size: 1.25rem; /* Increase font size */
    font-weight: bold;  /* Make text bold */
  }
  
  .nav-link:hover {
    color: #55ac7a; /* Green color on hover */
  }

  /* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* Hidden by default */
  width: 300px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1050;
}

.sidebar.active {
  right: 0; /* Show the sidebar */
}

.sidebar h3 {
  margin-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
